<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           <h3> Contact Details</h3> <br>
           <p> Netmaista Education <br>
                No:120,<br>
                Kandy Road, <br>
                Kadawatha.

        
        </p>
          
        </div>
        <div class="col-md-3"><br><br><br><br>
            <p> Phone : +94117 123 456 <br>
                Hot Line: +94117 258 456 <br>
                Fax: +94117 123 777
            
            </p>
        </div>
        <div class="col-md-3"><br><br><br><br>
            <a href="">  <p> Email: abc@gmail.com  <br>
           
        
        </p></a>
        </div>

        <div class="col-md-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d990.0353878149662!2d79.9430852942169!3d6.992604115258367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2591d73ea3934929!2sNetmaiesta%20(Pvt)%20Ltd!5e0!3m2!1sen!2slk!4v1578687219345!5m2!1sen!2slk" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>        </div>
    </div>

</div>
