<div > 
  <header>
   
    <div class="menu">
    
      <ul>
        <li><a href=""> ALUMNI </a> </li>
        <li><a href=""> CONTACT US </a> </li>
        <li><a href=""> CAREERS </a> </li>
      </ul>
    </div>
    <div class="menu2">
        <ul>
          <li><a href=""> HOME</a></li>
          <li><a href=""> ABOUT </a></li>
          <li><a href=""> COURSES </a></li>
          <li><a href=""> ACADEMIC</a></li>
          <li><a href=""> BRANCHES </a></li>
          <li><a href=""> PROJECTS</a></li>
          <li><a href=""> ADMISSION</a></li>
          <li><a href=""> RESEARCH </a></li>

        </ul>

        <div class="logo"> 
          <img src={{imgUrl}} alt="logo">

        </div>

    </div>
     
  </header>

  <carousel [noPause]="false" class="custom-carousel">
    <slide>
      <img src="assets/images/44.jpg" alt="First slide" style="display: block; width: 100%;">
      
    </slide>
    <slide>
      <img src="assets/images/88.jpg" alt="Second slide" style="display: block; width: 100%;">
      
    </slide>
    <slide>
      <img src="assets/images/9.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>      
 
  
</div>

<app-courses></app-courses>

